<div class="container">
    <div class="row" style="text-align: center; padding-top: 100px;">

        <div class="col-12 jumbotron">
            <h1>Our Projects</h1>
            <p>Every project is an opportunity to learn, to figure out problems and challenges, to invent and reinvent.</p>
        </div>

    </div>
    <div class="container">
        <div class="row" style="color:white">
            <!-- Portfolio Item Heading -->
            <h1 class="my-4 col-12" id="ProjectNameText"></h1>

            <!-- Portfolio Item Row -->
            <div class="i-am-centered">

                <div class="row">

                    <div class="col-md-8">
                        <img class="img-fluid" width="100%" id="ProjectImgText" src="././assets/img/KTU_Mobile_app.jpg" alt="">
                    </div>

                    <div class="col-md-4">
                        <h3 class="my-3">Description</h3>
                        <p id="projectDescription">– Android app dedicated to students of Kaunas University of Technology, who want to quickly reach everyday functions of KTU Academic Information System & Moodle (view marks, schedule, etc.)</p>
                        <h3 class="my-3">Project Details</h3>
                        <ul id="ProjectDetailsText">
                            <li>Xamarin Android Native</li>
                            <li>Android support library & Material design</li>
                            <li>.NET Standart Library (BackEnd)</li>
                            <li>Kaunas University of Technology system integration</li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- /.row -->

            <!-- Related Projects Row -->
            <div id="relatedProjects">
                <h3 class="my-4" style="text-align: center">Related Projects</h3>

                <div class="row">

                    <div class="col-md-3 col-sm-6 mb-4">
                        <a class="ProjectID" id="0">
                            <img class="img-fluid" src="././assets/img/ktuLogo.png" alt="KTU android app">
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 mb-4">
                        <a class="ProjectID" id="1">
                            <img class="img-fluid" src="././assets/img/PhotoGraphy.png" alt="Photography webpage template">
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 mb-4">
                        <a class="ProjectID" id="2">
                            <img class="img-fluid" widt="100%" src="././assets/img/api.png" alt="API">
                        </a>
                    </div>

                    <div class="col-md-3 col-sm-6 mb-4">
                        <a class="ProjectID" id="3">
                            <img class="img-fluid" src="https://media.discordapp.net/attachments/448176795615756301/471220950331949057/unknown.png?width=1062&height=677" alt="DropShop">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div style="clear: both"></div>