<div class=container>
    <div class="row">
        <div class="ContainerMembers">
            <div class="content">
                <div id="memberInfo">
                    <div class="about-section">

                        <div class="aboutMe">
                            <div class="aboutMe_Img_wrapper">
                                <img class="activeFoto" name="0" src="" />
                            </div>
                            <div class="aboutMe_Text_wrapper">
                                <h1 id="MemberName"></h1>
                                <span id="MemberDuty"></span>
                                <div class="DisplayCenter">
                                    <div class="CodeLanguages">
                                    </div>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                            <div style="clear: both"></div>
                        </div>
                        <div class="Quoteparent-div">
                            <div class="TopQuoteContainer">
                                <span id="TopQuoteMarks">"</span>
                            </div>
                            <div class="quoteContainer">
                                <p id="Quotetext">
                                </p>
                            </div>
                            <div class="BottomQuoteContainer">
                                <span id="BottomQuoteMarks">"</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <img id="one" class="bubble one float" name="0" src="https://avatars1.githubusercontent.com/u/28230845?s=400&v=4" />
                    <img id="two" class="bubble two float ActiveMember" name="1" src="https://avatars2.githubusercontent.com/u/27862154?s=400&u=4e9ef8668d603cbd9e37e30db600fe505155097d&v=4" />

                    <img id="three" class="bubble three float" name="2" src="https://avatars3.githubusercontent.com/u/36890978?s=460&v=4" />
                    <img id="four" class="bubble four float" name="3" src="https://avatars0.githubusercontent.com/u/37154424?s=460&v=4" />
                </div>

            </div>
        </div>
    </div>
</div>